body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #1d4ed8;
  transform: scale(1.05);
}

input {
  padding: 8px;
  border-radius: 6px;
  border: none;
}
